* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 10;
  text-decoration: none;
}

* a {
  text-decoration: none;
}

body {
  padding-top: 80px;
}

.App {
  width: 100vw;
}

