.single-beer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 25px;
}

.single-beer ul {
  list-style: none;
}

.single-beer img {
  height: 40vh;
  width: auto;
  margin-bottom: 10px;
}

.single-beer h1 {
  font-size: 2rem;
  color: black;
}

.single-beer h2 {
  font-size: 1.8rem;
  color: rgba(0, 0, 0, 0.733);
  margin: 5px 0;
}

.single-beer p {
  font-size: 1.6rem;
  color: rgba(56, 56, 56, 0.685);
}