.beer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.beer-container ul {
  list-style: none;
}

.beer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  width: 40vw;
}

.image-section img {
  height: 15vh;
  width: auto;
  margin-bottom: 10px;
}

.description-section h1 {
  font-size: 1rem;
  color: black;
}

.description-section h2 {
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.733);
  margin: 5px 0;
}

.description-section p {
  font-size: 0.8rem;
  color: rgba(56, 56, 56, 0.685);
}