.container-home {
  width: 100vw;
}

.container-home img {
  width: 100vw;
}

.container-home a {
  text-decoration: none;
  color: rgb(20, 20, 20);
}

.container-home h1 {
  font-weight: 100;
  color: black;
  text-align: left;
  padding: 5px 10px;
}

.container-home p {
  padding: 10px;
  padding-top: 0;
  font-size: 0.9rem;
  color: gray;
}
